{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'form/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Log In</h2>
        <form method="POST">
            {% csrf_token %}
            <label>Username or Email:</label>
            <input type="text" name="username" required><br>

            <label>Password:</label>
            <input type="password" name="password" required><br>

            <button type="submit">Log In</button>
        </form>

        <p>Don’t have an account? 
            <a href="{% url 'register' %}">Sign up</a>
        </p>

        {% for message in messages %}
            <p class="error">{{ message }}</p>
        {% endfor %}
    </div>
</body>
</html>
